Repository oVirt/vdsm, pull requests merged in 2022-07, with the labels that each got.

#274 Fix a busy loop after socket is closed
  lib/yajsonrpc/betterAsyncore.py
Labels: bug, infra

#255 Clarified the development and tests md.
  doc/development.md
  tests/README.md
Labels: tests, tools

#280 virt: switch domain to Defined once migrated VM is stopped
  lib/vdsm/virt/vm.py
Labels: verified, virt

#282 virt: Don’t retrieve VM external data until the VM is started
  lib/vdsm/virt/periodic.py
Labels: verified, virt

#286 vdsmd: Document why we handle SIGUSR1 signal
  lib/vdsm/vdsmd.py
Labels: cleanup

#285 blockVolume: check parent tag and meta match
  lib/vdsm/storage/blockVolume.py
  tests/storage/blocksd_test.py
Labels: bug, verified, storage

#288 network: bridge_opts - test priority option recognized
  tests/network/functional/bridge_test.py
Labels: bug, network
