Repository oVirt/vdsm, pull requests merged in 2022-11, with the labels that each got.

#347 virt: Accept None returned by guest agent for vCPU count
  lib/vdsm/virt/qemuguestagent.py
Labels: bug, virt

#355 Fix tmpstorage teardown
  tests/storage/tmpstorage.py
Labels: storage, tests

#356 qemuimg: log warning on cmd error
  lib/vdsm/storage/operation.py
  lib/vdsm/storage/qemuimg.py
Labels: enhancement
