Repository oVirt/vdsm, pull requests merged in 2022-09, with the labels that each got.

#310 glob: use standard glob.escape
  CODEOWNERS
  lib/vdsm/common/compat.py
  lib/vdsm/common/glob.py
  lib/vdsm/storage/fileSD.py
  lib/vdsm/storage/fileVolume.py
  tests/Makefile.am
  tests/glob_test.py
Labels: storage

#304 fileVolume: consider preallocation for qcow
  lib/vdsm/storage/fileVolume.py
  tests/storage/localfssd_test.py
Labels: bug, storage

#305 blockVolume: remove misleading comments
  lib/vdsm/storage/blockVolume.py
Labels: storage

#314 requirements: add userstorage
  docker/requirements.txt
Labels: storage, infra

#312 tox.ini: fix envlist
  tox.ini
Labels: tests

#298 Zerocopy#
  lib/vdsm/api/vdsm-api.yml
  lib/vdsm/host/caps.py
  lib/vdsm/virt/migration.py
  vdsm.spec.in
Labels: enhancement, verified, virt

#316 merge_test: increase reduce vol size
  tests/storage/merge_test.py
Labels: storage, tests

#293 blockVolume: fix over allocation of small volumes
  lib/vdsm/storage/blockVolume.py
  tests/storage/blocksd_test.py
  tests/storage/blockvolume_test.py
Labels: bug, storage

#318 localfssd_test: fix cow prealloc check
  tests/storage/localfssd_test.py
Labels: storage, tests
