Repository oVirt/vdsm, pull requests merged in 2022-05, with the labels that each got.

#145 misc_test: Check ret code and improve sudo check
  tests/storage/misc_test.py
Labels: bug, cleanup, team: storage, tests

#164 lvm_tests: use --devices instead of --config in commands
  tests/storage/lvm_test.py
Labels: bug, team: storage, tests

#172 gluster: fix compatibility with Gluster v10 or greater,
  lib/vdsm/gluster/cli.py
  tests/gluster_cli_test.py
Labels: bug, team: gluster

#156 qemuguestagent: store CPU count reported by guest
  lib/vdsm/common/config.py.in
  lib/vdsm/virt/qemuguestagent.py
  tests/virt/qemuguestagent_test.py
Labels: verified, team: virt

#177 storage.compat: remove module
  lib/vdsm/storage/Makefile.am
  lib/vdsm/storage/backends.py
  lib/vdsm/storage/blockSD.py
  lib/vdsm/storage/clusterlock.py
  lib/vdsm/storage/compat.py
  lib/vdsm/storage/fileVolume.py
  lib/vdsm/storage/outOfProcess.py
  lib/vdsm/storage/xlease.py
  lib/vdsm/tool/check_volume_leases.py
  tests/storage/backends_test.py
  tests/storage/clusterlock_test.py
  tests/storage/fakesanlock.py
  tests/storage/fakesanlock_test.py
  tests/storage/marks.py
Labels: cleanup

#182 blockSD: avoid argument shadowing in validatePVs
  lib/vdsm/storage/blockSD.py
Labels: team: storage

#191 virt: store some guest stats during migration
  lib/vdsm/virt/guestagent.py
  lib/vdsm/virt/vm.py
Labels: verified, team: virt

#199 tox.ini: allow newer black version to match click version
  lib/vdsm/network/link/nic.py
  lib/vdsm/network/tc/_parser.py
  tests/network/functional/net_qos_test.py
  tests/network/integration/tc_test.py
  tests/network/unit/netinfo_test.py
  tox.ini
Labels: bug, tools

#209 managedvolume: Add lightos support
  lib/vdsm/storage/managedvolume.py
Labels: team: storage
