Repository oVirt/vdsm, pull requests merged in 2022-03, with the labels that each got.

#90 Add a blacklist for rbd devices
  lib/vdsm/tool/configurators/multipath.py
Labels: team: storage

#95 multipath: Fix generated multipath.conf
  lib/vdsm/tool/configurators/multipath.py
Labels: verified

#96 gitignore: Add build-aux/config.* generated files
  .gitignore
Labels: verified

#106 net: Fix empty OVN bridge mappings
  lib/vdsm/network/nmstate/ovs/network.py
  lib/vdsm/network/nmstate/state.py
  tests/network/unit/nmstate/testlib.py
Labels: team: network

#105 Add SCSI reservations support to hotplug API
  lib/vdsm/virt/vmdevices/storage.py
  lib/vdsm/virt/vmdevices/storagexml.py
Labels: bug, team: storage

#100 copy_data: only skip lock for div endpoint
  lib/vdsm/storage/sdm/api/copy_data.py
Labels: bug, verified, team: storage

#108 Adding tests for hotplug with SCSI reservations
  tests/virt/device_test.py
  tests/virt/vmstorage_test.py
Labels: cleanup, team: storage
