Repository oVirt/vdsm, pull requests merged in 2022-10, with the labels that each got.

#324 lvmdevices: always create devices file
  lib/vdsm/storage/lvmdevices.py
Labels: bug, verified, storage

#341 Remove SPDX headers from sensitive files
  Makefile.am
  static/etc/sudoers.d/50_vdsm.in
  static/usr/share/vdsm/autounattend/Autounattend.xml.in
  vdsm_hooks/extra_ipv4_addrs/sudoers
  vdsm_hooks/localdisk/sudoers.vdsm_hook_localdisk
  vdsm_hooks/openstacknet/sudoers.in
  vdsm_hooks/vhostmd/sudoers.vdsm_hook_vhostmd
Labels: verified

#340 Fix missing informations on geo replication tab of GlusterFS volumes.
  lib/vdsm/gluster/cli.py
  tests/glusterGeoRepStatus.xml
  tests/glusterGeoRepStatusOld.xml
  tests/glusterGeoRepStatusOld.xml.license
  tests/glusterTestData.py
  tests/gluster_cli_test.py
Labels: gluster

#346 lvmdevices: create devices directory
  lib/vdsm/storage/lvmdevices.py
Labels: bug, storage
