Repository oVirt/vdsm, pull requests merged in 2022-06, with the labels that each got.

#210 virt: Prolong migration listener timeout by disk preparation
  lib/vdsm/common/config.py.in
  lib/vdsm/virt/vm.py
  tests/virt/data/disk_devices.xml
  tests/virt/vmmigration_test.py
Labels: verified, team: virt

#220 volume: Requires create for qcow2 image without a parent
  lib/vdsm/storage/volume.py
Labels: bug, verified, team: storage

#228 lvmlocal.conf: remove global section
  static/usr/share/vdsm/lvmlocal.conf
Labels: bug, team: storage

#230 lvmlocal.conf: Bump revision to fix upgrade
  static/usr/share/vdsm/lvmlocal.conf
Labels: bug, team: storage

#236 network: centos-9 disable functional tests
  .github/workflows/network.yml
Labels: bug, team: network

#240 check: Fix fd leak when child process fails
  lib/vdsm/storage/check.py
  tests/storage/check_test.py
Labels: bug, verified, team: storage

#248 virt: fix graphics configuration when resuming from hibernation
  lib/vdsm/virt/vm.py
Labels: bug, verified, team: virt

#251 virt: Replace CPU pinning when resuming snapshot with memory
  lib/vdsm/virt/vm.py
Labels: bug, verified, virt

#159 lvm: remove outdated warning
  lib/vdsm/storage/lvm.py
Labels: bug, storage

#254 storageServer: fix and improve iscsi connect error logging
  lib/vdsm/storage/storageServer.py
Labels: bug, storage, logs

#259 iscsiadm: Consider session exists as success
  lib/vdsm/storage/iscsi.py
  lib/vdsm/storage/iscsiadm.py
Labels: bug, storage

#247 contrib: Add git-sync tool
  contrib/git-sync
Labels: tools
