Repository oVirt/vdsm, pull requests merged in 2022-04, with the labels that each got.

#112 api: Add missing added info
  lib/vdsm/api/vdsm-api.yml
Labels: verified, team: storage

#111 Improve mailbox tests
  tests/storage/mailbox_test.py
Labels: verified, team: storage

#114 tests: Refine thinp stress test
  tests/storage/stress/thinp.py
Labels: enhancement, verified, team: storage

#115 fileVolume: Fix creation of tiny volumes
  lib/vdsm/storage/fileVolume.py
Labels: bug, verified, team: storage

#131 spec: exclude ppc64le on el9
  vdsm.spec.in
Labels: verified

#139 Support multiple portals
  contrib/target
Labels: enhancement, team: storage, tools

#149 copy_data: Consolidate semantically equal endpoint params
  lib/vdsm/storage/sdm/api/copy_data.py
  lib/vdsm/storage/sdm/api/update_volume.py
Labels: verified, team: storage

#148 outofprocess_test: 'External API' block to use userstorage
  tests/storage/outofprocess_test.py
Labels: team: storage
